<!DOCTYPE html>
<html class="<%= polaris_html_classes %>" style="<%= polaris_html_styles %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="turbo-cache-control" content="no-preview">
    <%= csrf_meta_tags %>

    <title><%= ShopifyApp.configuration.application_name %></title>

    <%= javascript_include_tag "application" %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
